/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {
  /* colors */
  --clr-red: 14 86% 42%;
  --clr-green: 159 69% 38%;

  --clr-rose50: 20 50% 98%;
  --clr-rose100: 13 31% 94%;
  --clr-rose300: 14 25% 72%;
  --clr-rose400: 7 20% 60%;
  --clr-rose500: 12 20% 44%;
  --clr-rose900: 14 65% 9%;

  /* font size */
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;

  /* font family */
  --ff-red-hat-text: "Red Hat Text", sans-serif;

  /* font-weight */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* --------------------------- */
/* Fonts                       */
/* --------------------------- */

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/red-hat-text-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/red-hat-text-v19-latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/red-hat-text-v19-latin-700.woff2') format('woff2');
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-red-hat-text);
  font-size: var(--fs-300);
  color: hsl(var(--clr-rose900));
  background-color: hsl(var(--clr-rose100));
  font-weight: var(--fw-700);
  padding: 1.5rem;

  /* display: grid;
  grid-template-rows: min-content 1fr; */
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */

.flex {
  display: flex;
}

/* --------------------------- */
/* Components                  */
/* --------------------------- */

.title {
  padding-block-end: 1.5rem;
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-700);
}

.products {
  flex-direction: column;
  gap: 1.5rem;
  padding-block-end: 1.5rem;
}

.product-card__img-container {
  position: relative;
  justify-content: center;
}

.product-card__image {
  border-radius: 10px;
  object-fit: contain;
}

.product-card__image--border {
  outline: solid 2px hsl(var(--clr-red));
  outline-offset: -2px;
}

.product-card__btn,
.quantity-controls {
  position: absolute;
  bottom: -16px;
  justify-content: center;
  align-self: center;
  gap: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  border: solid 1px hsl(var(--clr-rose500));
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
  background-color: hsl(var(--clr-rose50));
  cursor: pointer;
  width: 10rem;
}

.product-card__btn:hover {
  outline: solid 2px hsl(var(--clr-red));
  outline-offset: -2px;
  color: hsl(var(--clr-red));
}

.quantity-controls {
  background-color: hsl(var(--clr-red));
  color: hsl(var(--clr-rose50));
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.75rem;
}

.decrease-btn,
.increase-btn {
  background-color: hsl(var(--clr-red));
  border: solid 2px hsl(var(--clr-rose50));
  aspect-ratio: 1;
  height: 1rem;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  padding: .1rem;
  cursor: pointer;
}

.icon {
  fill: hsl(var(--clr-rose50));
}

.decrease-btn:hover,
.increase-btn:hover {
  background-color: hsl(var(--clr-rose50));
}

.decrease-btn:hover .icon,
.increase-btn:hover .icon {
  fill: hsl(var(--clr-red));
}

.product-card__btn span {
  align-self: center;
}

.product-card__content {
  flex-direction: column;
  gap: 0.25rem;
  padding-block-start: 2rem;
}

.product-card__category {
  color: hsl(var(--clr-rose500));
  font-size: var(--fs-200);
}

.product-card__name {
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-600);
}

.product-card__price {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-600);
}

.cart {
  background-color: hsl(var(--clr-rose50));
  padding: 1.5rem;
  border-radius: 10px;
}

.cart__title {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-700);
}

.cart__img {
  padding-block: 1rem;
}

.cart__text {
  text-align: center;
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: hsl(var(--clr-rose500));
}

@media (min-width: 35rem) {

}

@media (min-width: 45rem) {
  
}