/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {
  /* colors */
  --clr-red: 14 86% 42%;
  --clr-green: 159 69% 38%;

  --clr-rose50: 20 50% 98%;
  --clr-rose100: 13 31% 94%;
  --clr-rose300: 14 25% 72%;
  --clr-rose400: 7 20% 60%;
  --clr-rose500: 12 20% 44%;
  --clr-rose900: 14 65% 9%;

  /* font size */
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.85rem;
  --fs-100: 0.75rem;

  /* font family */
  --ff-red-hat-text: "Red Hat Text", sans-serif;

  /* font-weight */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* --------------------------- */
/* Fonts                       */
/* --------------------------- */

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/red-hat-text-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/red-hat-text-v19-latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/red-hat-text-v19-latin-700.woff2') format('woff2');
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-red-hat-text);
  font-size: var(--fs-300);
  color: hsl(var(--clr-rose900));
  background-color: hsl(var(--clr-rose100));
  font-weight: var(--fw-700);
  padding: 1.5rem;

  /* display: grid;
  grid-template-rows: min-content 1fr; */
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */

.flex {
  display: flex;
}

/* --------------------------- */
/* Components                  */
/* --------------------------- */

.title {
  padding-block-end: 1.5rem;
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-700);
}

.products {
  flex-direction: column;
  gap: 1.5rem;
}

.product-card__img-container {
  position: relative;
  justify-content: center;
}

.product-card__image {
  border-radius: 10px;
  object-fit: contain;
}

.product-card__image--border {
  outline: solid 2px hsl(var(--clr-red));
  outline-offset: -2px;
}

.product-card__btn,
.quantity-controls {
  position: absolute;
  bottom: -16px;
  justify-content: space-between;
  align-self: center;
  gap: 0.5rem;
  padding-inline: 1.3rem;
  padding-block: 0.6rem;
  border-radius: 2rem;
  border: solid 1px hsl(var(--clr-rose500));
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
  background-color: hsl(var(--clr-rose50));
  cursor: pointer;
  width: 8.5rem;
}

.product-card__btn:hover {
  outline: solid 2px hsl(var(--clr-red));
  outline-offset: -2px;
  color: hsl(var(--clr-red));
}

.cart-icon {
  fill: hsl(var(--clr-red));
}

.quantity-controls {
  background-color: hsl(var(--clr-red));
  color: hsl(var(--clr-rose50));
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.75rem;
  border: none;
}

.decrease-btn,
.increase-btn {
  background-color: hsl(var(--clr-red));
  border: solid 2px hsl(var(--clr-rose50));
  aspect-ratio: 1;
  height: 1rem;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  padding: .1rem;
  cursor: pointer;
}

.icon {
  fill: hsl(var(--clr-rose50));
}

.decrease-btn:hover,
.increase-btn:hover {
  background-color: hsl(var(--clr-rose50));
}

.decrease-btn:hover .icon,
.increase-btn:hover .icon {
  fill: hsl(var(--clr-red));
}

.product-card__btn span {
  align-self: center;
  font-size: var(--fs-100);
}

.product-card__content {
  flex-direction: column;
  gap: 0.25rem;
  padding-block-start: 2rem;
  padding-block-end: 1.25rem;
}

.product-card__category {
  color: hsl(var(--clr-rose500));
  font-size: var(--fs-100);
}

.product-card__name {
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.product-card__price {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.cart {
  flex-direction: column;
  background-color: hsl(var(--clr-rose50));
  padding: 1.5rem;
  border-radius: 10px;
}

.cart__title {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-700);
}

.cart__img {
  padding-inline: 4rem;
}


.product-cart-info {
  flex-direction: column;
  
}

.cart-product-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px hsl(var(--clr-rose100));
  padding-block: 1rem;
}

.cart__text {
  text-align: center;
  font-size: var(--fs-200);
  font-weight: var(--fw-600);
  color: hsl(var(--clr-rose500));
}

.cart-remove-btn {
  background-color: transparent;
  border: solid 2px hsl(var(--clr-rose300));
  aspect-ratio: 1;
  height: 1rem;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  padding: .1rem;
  cursor: pointer;
}

.remove-icon {
  fill: hsl(var(--clr-rose300));
}

.cart-text-container {
  flex-direction: column;
  gap: .5rem;
}

.cart-item-info {
  flex-direction: row;
  gap: 1rem;
}

.cart-product__name {
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.cart-product__quantity {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.cart-product__price {
  color: hsl(var(--clr-rose300));
  font-size: var(--fs-200);
}

.cart-product__total {
  color: hsl(var(--clr-rose400));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.cart-total {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-total__text {
  color: hsl(var(--clr-rose500));
  font-weight: var(--fw-600);
  font-size: var(--fs-200);
}

.cart-total__sum {
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-700);
  font-size: var(--fs-600);
}

.cart__carbon-info {
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  background-color: hsl(var(--clr-rose100));
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 10px;
}

.carbon-icon {
  fill: hsl(var(--clr-green))
}

.carbon-info {
  color: hsl(var(--clr-rose900));
  font-size: var(--fs-200);
}

.carbon-info span {
  font-weight: var(--fw-700);
}

.cart__confirm-btn,
.new-order-btn {
  justify-content: center;
  border: none;
  background-color: hsl(var(--clr-red));
  color: hsl(var(--clr-rose50));
  font-weight: var(--fw-600);
  padding-block: 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.product-cart-container {
  flex-direction: column;
  gap: 1.25rem;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 40%);
  position: fixed;
  inset: 0 0 0 0;
}

.order-icon {
  fill: hsl(var(--clr-green));
  flex-shrink: 0;
}

.order-title {
  color: hsl(var(--clr-rose900));
  font-weight: var(--fw-700);
}

.order {
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(var(--clr-rose50));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  top: 5.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding-inline: 1.5rem;
  padding-block-start: 2.5rem;
  padding-block-end: 1.5rem;
  z-index: 100;
  overflow: hidden;
}

.order-total-products > .cart-total {
  padding-block: 1.5rem;
}

.order-total-products > .cart-total > .cart-total__sum {
  font-size: var(--fs-700);
}

.order-total-products {
  padding-inline: 1.25rem;
  background-color: hsl(var(--clr-rose100));
  border-radius: 5px;
  overflow-y: auto;
}

.order-products {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-block: 1.25rem;
  border-bottom: solid 1px hsl(var(--clr-rose300));
}

.order-products > .cart-product__total {
  color: hsl(var(--clr-rose900));
   margin-left: auto;
}

.order-product-info {
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 35rem) {

}

@media (min-width: 45rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 22rem;
    gap: 2rem;

    grid-template-areas:
      "title title title cart"
      "products products products cart";
  }

  .title {
    grid-area: title;
  }

  .products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .cart {
    grid-area: cart;
    align-self: start;
  }

  .order {
  border-radius: 10px;
  top: 5rem;
  bottom: 5rem;
  left: 25rem;
  right: 25rem;
}

}